
.left { float: left; }
.right { 
    float: right; 
    right: 0px;
}

.middle {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-icon {
    font-size: 10px;
}

/* Cards */
.container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: var(--container-background-color);
    backdrop-filter: var(--container-backdrop-filter);

    border-radius: 15px;

    padding: 10px;
    margin: 10px;

    width: 600px;
}

.card-body {
    position: relative;

}

.card-title {
    font-size: 24px;
    text-align: center;
    font-family: 'Fira Sans';
    padding: 20px 20px 5px 20px;
}

.card-description {
    font-size: 16px;
    text-align: justify;

    font-family: 'Fira Sans';
    padding: 5px 20px 20px 20px;
}

.card-image {
    margin: 20px 20px 0px 20px;
    border-radius: 15px;
    width: fit-content;
}

.title {
    padding-left: 20px;
}

.tag-present {
    background-color: #ff004080;
    border-radius: 5px;
    padding: 4px;
}

.link {
    background-color: #ff004080;
    border-radius: 5px;
    padding: 4px;
}

.section-links {
    text-align: right;
    display: flex;
    flex-direction: column;
}

.header-project-name {
    margin-top: 50px;
    font-family: 'Fira Sans'; 
    font-size: 64px;
    font-weight: 700;
}

.header-project-description {
    font-family: 'Fira Sans'; 
    font-size: 32px;
    font-weight: 400;
}

.html { color: #F06529; }
.css { color: #663399; }
.javascript { color: #F0DB4F }
.csharp { color: #178600;}
.cpp { color: #f34b7d; }
.java { color: #b07219;}

.timeline {
    position: relative;
    max-width: 70%;
    margin: 50px 0%;
    padding: 0 20px;
  }
  
  /* Vertical line on the left side */
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%; /* Position the line on the left */
    width: 4px;
    height: 100%;
    background: #ffffff;
  }
  
  /* Timeline item */
  .timeline-item {
    position: relative;
    margin: 20px 0;
  }
  
  /* Content box aligned to the right */
  .timeline-content {
    position: relative;
    background: #ffffff00;
    padding: 15px 20px;
    border-radius: 5px;
    width: 70%;
    margin-left: 0%; /* Push content to the right of the vertical line */
  }
  
  /* Connector circle on the left */
  .timeline-item::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -18px; /* Align with the vertical line */
    transform: translateX(-50%);
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to bottom right, #ff5b5b, #dc50ff);;
    border: 3px solid #ffffffd5;
    border-radius: 50%;
    z-index: 1;
  }
  